@tailwind base;
@tailwind components;
@tailwind utilities;

input.flat-input[type=file]::-webkit-file-upload-button,
input.flat-input[type=file]::file-selector-button {
    @apply 
    text-white
    bg-blue-700
    hover:bg-blue-600
    font-medium
    text-sm
    cursor-pointer
    border-0
    py-2.5
    pl-8
    pr-4
    p-8;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
}